name: hexlet-ci-app

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install and build
        run: make install build

      - name: Run tests
        run: make test

      - name: Run linter
        run: make lint
      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-action@release

